#root {
  background: #3CA3F9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mbot-p5 {margin-bottom: 5px!important;}
.mbot-1 {margin-bottom: 10px!important;}
.mbot-2 {margin-bottom: 20px!important;}
.mbot-3 {margin-bottom: 30px!important;}
.mbot-4 {margin-bottom: 40px!important;}